.nav-container {
  display: flex;
  flex-direction: row;
  box-shadow: 1px 3px 10px rgb(185, 212, 209);
  padding: 1.5rem 5rem;
  background: rgba(243, 242, 242, 0.377);
}
.nav-left {
  justify-content: flex-start;
  flex-grow: 1;
  text-align: start;
}
.nav-right {
  justify-content: flex-end;
}
.nav-right button {
  border: none;
  background: none;
  cursor: pointer;
}
